version: "3.9"

services:
  web:
    build: .
    ports:
      - "8001:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A config worker --loglevel=info --pool=solo
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6381:6379"

volumes:
  static_volume:
