version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    tty: true
    stdin_open: true
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A config worker --loglevel=info --pool=solo
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    tty: true
    stdin_open: true
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
